PATH_add bin

# Allows resolving local Lua modules when Neovim is run
# in the project directory. See:
#
#   https://neovim.io/doc/user/luaref.html#package.path
#
# TODO: Should this be using `runtimepath` instead? But
# Neovim doesn't seem to like me messing with $VIMRUNTIME.
export LUA_PATH="$(pwd)/lua/?.lua;$(pwd)/lua/?/init.lua"
